.forgot {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(25, 255, 255, 0.5),
      rgba(110, 75, 236, 0.5)
    ),
    /* url("https://images.pexels.com/photos/768473/pexels-photo-768473.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"); */
    /* url('../../assets/b4.jpg'); */
    url('../../components/assetsNew/img_snowtops.jpg');
    background-size: cover;
} 

.forgotTitle {
  font-size: 30px;
}

.forgotForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.forgotForm > label {
  margin: 10px 0;
}
label,input{
  color: white;
}
.forgotInput {
  padding: 10px;
  background-color: white;
  background: #222;
  border: none;
  border-radius: 10px;
  width: 300px;
}

.forgotInput:focus {
  outline: none;
}

.forgotButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.forgotLoginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
